.address-list {
	list-style: none;
}

.address-list__item {
	margin-bottom: 9px;
}

.address-list__item:last-child {
	margin-bottom: 0px;
}

.address-list__link {
	text-decoration: none;
	color: var(--light-color);
	line-height: 1.71;
}

.footer-logo__second {
	color: var(--light-color);
}

.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	color: var(--accent-color);
	letter-spacing: 0.03em;
	text-decoration: none;
}

address {
	font-style: normal;
	margin-top: 20px;
}

.company-block {
	margin-left: 70px;
}

.stylefooter-block {
	display: flex;
	align-items: baseline;
}

.company-block__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-color);
	text-transform: uppercase;
	margin-bottom: 20px;
}

.social-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 16px;
}

.social-list__link {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
		border-radius: 50%;
	}
}

.social-list__icon {
	fill: var(--light-color);
}

.subscribe-block {
	margin-left: auto;
}

.mail-block {
	display: flex;
	gap: 12px;
}

.mail-field__input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	width: 358px;
	height: 50px;
	background: #2f303a;
	margin: 0;
	padding: 15px 16px;

	font-weight: 400;
	font-size: 16px;
	line-height: calc(20 / 16);
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	outline: none;
	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-field > .mail-field__input:hover,
.mail-field > .mail-field__input:focus {
	border: 1px solid var(--accent-color);
}

.subscribe-button {
	width: 200px;
	height: 50px;
	padding: 10px 28px;
	gap: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--light-color);
	background-color: var(--accent-color);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
