.header-thumb {
	display: flex;
	text-align: center;
	align-items: center;
}

.header-logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	color: var(--accent-color);
	letter-spacing: 0.03em;
	text-decoration: none;
	padding-top: 24px;
	padding-bottom: 25px;
}

.header-logo__text {
	color: var(--dark-color);
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 50px;
}

.nav-list__link {
	font-weight: 500;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--main-color);
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
	color: var(--accent-color);
}

.nav-list__link:focus,
.nav-list__link:hover,
.contacts-list__link:focus,
.contacts-list__link:hover {
	color: var(--accent-color);
}

// Елемент афтер

.nav-decor {
	position: relative;
}

.nav-list__link.current::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
}

.nav {
	margin-left: 93px;
}

.contacts-list {
	list-style: none;
	display: flex;
	margin-left: auto;
	gap: 50px;
}

.contacts-list__item {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 20px;
}

.contacts-list__link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--second-color);
	line-height: 1.71;
	display: flex;
	align-items: center;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon {
	fill: currentColor;
	margin-right: 10px;
	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

// Линия в портфолио

.header-portfolio {
	border-bottom: 1px solid #ececec;
}
