.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: var(--light-color);
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-icon {
  width: 40px;
  height: 40px;
}

.js-menu-container {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  position: fixed;
  visibility: hidden;
  z-index: 1000;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: var(--light-color);
    transform: translateX(0%);
  }
}

.modal-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: var(--light-color);
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-nav {
  margin-bottom: auto;
}

.js-close-menu__icon {
  width: 40px;
  height: 40px;
}

.contacts-mob-list__link:first-child {
  margin-bottom: 32px;
}

.first-mob-link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.second-mob-link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}

.soc-list {
  display: flex;
  margin-top: 64px;
  gap: 20px;
}

.soc-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.soc-list__linkedin {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.soc-list__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
