.clients-sect {
	padding-top: 89px;
	padding-bottom: 94px;
}

.company-list {
	gap: 30px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.company-link {
	width: 170px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #afb1b8;
	color: #afb1b8;
	border-radius: 4px;
	transition-property: color, border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
		color: var(--accent-color);
	}
}

.company-link__icon {
	fill: currentColor;
}
