.hero {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imagesteam/imgheader/header_mob.jpg);
  max-width: 480px;
  max-height: 400px;
  padding: 130px 0;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/imagesteam/imgheader/header_tab.jpg);
    max-width: 768px;
    max-height: 400px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/imagesteam/imgheader/header_dek.jpg);
    background-size: cover;
    max-width: 1600px;
    max-height: 600px;
  }
}

@media screen and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/imagesteam/imgheader/headermob_@2x.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 1199px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/imagesteam/imgheader/headertab_@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/imagesteam/imgheader/headerdek_@2x.jpg);
    background-size: cover;
  }
}

.hero__title {
  display: block;
  font-family: "Roboto";
  width: 300px;
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }
}

.hero__btn .rules-list {
  list-style: none;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    padding: 10px 24px;
  }
}
